/* Imports Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Overrides default style to border-box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Applies font family and default size */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Styles unordered list */
ul {
    list-style-type: none; /* removes bullet points from header links */
    color: #E5E7EB;
    display: flex;;
    gap: 32px;
}

/* Styles links */
a {
    text-decoration: none; /* removes link underline */
    color: #E5E7EB;
}

/* Styles buttons */
button {
    border-style: none;
    border-radius: 8px; /* Rounds button corners */
    padding: 8px 32px;
    background-color: #3882F6; /* blue */
    color: #F9FAF8;
    font-size: 18px;
}