/* Imports Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Overrides default style to border-box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Applies font family and default size */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Styles unordered list */
ul {
    list-style-type: none; /* removes bullet points from header links */
    color: #E5E7EB;
    display: flex;;
    gap: 32px;
}

/* Styles links */
a {
    text-decoration: none; /* removes link underline */
    color: #E5E7EB;
}

/* Styles buttons */
button {
    border-style: none;
    border-radius: 8px; /* Rounds button corners */
    padding: 8px 32px;
    background-color: #3882F6; /* blue */
    color: #F9FAF8;
    font-size: 18px;
}

/* Sets common parameters for hero and footer */
.hero, .footer {
    background: #1F2937;
    color: #E5E7EB; /* higher contrast white */
}

/* Styles hero */
.hero {
    padding: 32px 400px 160px 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styles navigation bar */
.navbar {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles navigation bar logo */
.navbar h1 {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

/* Styles showcase area */
.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

/* Styles showcase welcome container */
.welcome {
    display: flex;
    flex-direction: column;
    flex: 1; /* SOLVES: When zooming past 250% in maxied browser window, a white border appears on the right hand side */
    gap: 16 px;
}

/* Aligns showcase 'Sign up' button */
.welcome button {
    align-self: flex-start; /* Aligns button to the right hand side of the welcoem container */
}

/* Styles placeholder */
.placeholder {
    height: 240px;
    background-color: #8F918E; /* Dark grey colour */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2; /* See comment on line 90 & ensures placeholder grows twice as much as welcome when zooming out */
}

/* Styles placeholder paragraph */
.placeholder p {
    text-align: center;
}

/* Sets information section parameters */
.information {
    padding: 48px 0 160px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

/* Styles information section title */
.information h1 {
    font-size: 36px;
    font-weight: 900;
}

/* Set information container parameters */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 56px;
}

/* Set info container parameters */
.container > .info {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0; /* Minimum dimensions equal to content */
}

/* Styles image */
.image {
    height: 160px;
    width: 160px;
    background-color: #E5E7EB;
    border-radius: 8px;
    border: 2px solid #3882F6;
}

/* Aligns info container text */
.info p {
    text-align: center;
}

/* Set quote section parameters */
.quote {
    padding: 80px 400px 128px 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}